.media-content {
    margin: 0 12px;
    min-height: 1000px;
    text-align: center;
}
.fb-page blockquote, .twitter-timeline-wrap {
    text-align: center;
}

.media-tab {
    padding: 4px 0;
    --padding-start: 2px;
    --padding-end: 2px;
    font-size: 14px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    color: #746F6F;
    text-transform: capitalize;
}
.tab-active {
    color: var(--ion-color-primary);
    border-bottom-color: var(--ion-color-primary);
}