<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="articles" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title [innerHtml]="title">
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu-content" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)" [disabled]="onQueue || onQueueFromLoad">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="category-description-wrap">
    <span [innerHtml]="description"></span>
  </div>

  <div class="location-selector-wrap">
    <h6>Your location</h6>
    <div class="location-wrap" [routerLink]="['/location']">
      <span class="location-address-text">{{hasAddress() ? address : 'Enter your location'}}</span>
      <ion-icon name="precision" color="{{hasAddress() ? 'primary' : 'medium'}}"></ion-icon>
    </div>
    <div class="location-control-wrap">
      <ion-checkbox [disabled]="!hasAddress()" (ionChange)="onFilter()" [(ngModel)]="filter"></ion-checkbox>
      <ion-label>Show only nearby resources</ion-label>
    </div>
  </div>
  
  <div class="page-info-wrap">
    <h1 class="ff-m">Resources</h1>
    <span [innerHtml]="subtitle"></span>
  </div>

  <div class="content-queue-wrap" *ngIf="onQueue">
    <ion-spinner></ion-spinner>
  </div>

  <div class="content-wrap" *ngIf="!onQueue">
    <div class="article-wrap" *ngFor="let res of resources">      
      <div class="article-media" (click)="onResource(res)" [ngStyle]="{'background-image' : 'url(' + res.mediaUrl}"></div>
      <h2 class="ff-m" [innerHtml]="res.title" (click)="onResource(res)"></h2>
    </div>
  </div>

  <ion-infinite-scroll position="bottom" (ionInfinite)="onLoadMore($event)" [disabled]="page > maxPages || onQueue || onQueueFromRefresh">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="content-end-spacing"></div>
  
  <div class="footer-wrap" slot="fixed">
    <div class="footer-background-wrap">
      <img class="footer-bg-side side-left" src="../assets/footer/side.png" alt="">
      <img class="footer-bg-filler side-left" src="../assets/footer/filler.png" alt="">
      <img class="footer-bg-center" src="../assets/footer/center.png" alt="">
      <img class="footer-bg-filler side-right" src="../assets/footer/filler.png" alt="">
      <img class="footer-bg-side side-right" src="../assets/footer/side.png" alt="">
      <ion-button shape="round" color="primary" (click)="onCall()">
        <ion-icon name="phone"></ion-icon>
      </ion-button>
    </div>
    <div class="footer-tabs-wrap">
      <ion-button fill="clear" shape="round" [routerLink]="[ '/articles' ]"routerDirection="forward">
        <ion-icon name="home" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/saved-articles' ]"routerDirection="forward">
        <ion-icon name="saved-articles-icon" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" href="{{external_link}}">
        <ion-icon name="external" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round"  [routerLink]="[ '/events' ]"routerDirection="forward">
        <ion-icon name="events-icon" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round">
        <ion-icon name="resources-icon" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/media' ]"  routerDirection="forward">
        <ion-icon name="media-icon" color="medium"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
