.search-button ion-icon {
    font-size: 16px;
}
.search-button {
    width: 48px;
    height: 48px;
}
.article-wrap {
    position: relative;
    background: white;
    margin: 32px auto;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 10px;
    min-height: 308px;
    overflow: hidden;
    max-width: 400px;
}
.article-wrap h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-right: 12px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.article-meta {
    display: flex;
    align-items: center;
    margin: 0 30px;
}
.article-meta img {
    border-radius: 50%;
    margin-right: 12px;
}
.article-meta > div{
    display: flex;
    flex-wrap: wrap;
}
.article-meta span {
    font-size: 12px;
    line-height: 16px;
    color: #746F6F;
    margin-right: 8px;
}
.article-media {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 18px;
}
.bookmark-button {
    position: absolute;
    top: 12px;
    right: 0;
    --padding-start: 12px;
    --padding-end: 12px;
}
.bookmark-button ion-icon {
    font-size: 14px;
}
.search-panel {
    background: white;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0 30px;
}
.search-panel > span{
    color: #2E2828;
}
ion-button.category-button {
    height: 38px;
    --padding-start: 20px;
    --padding-end: 20px;
    font-size: 14px;
    text-transform: capitalize;
    --box-shadow: 0 3px 6px #00000029;
}
.no-articles-wrap {
    text-align: center;
    margin-top: 64px;
}