<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button text="" defaultHref="articles" color="dark"></ion-back-button> -->
      <ion-button class="search-button" fill="clear" shape="round" (click)="toggleSearchMode($event)">
        <ion-icon name="{{searchMode? 'chevron-back' : 'search-sharp'}}" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar class="searchbar" *ngIf="searchMode" placeholder="What are you looking for?" showCancelButton="never" showClearButton="never" (search)="onSearch($event)" [(ngModel)]="searchKeyword"></ion-searchbar>
    <ion-title *ngIf="!searchMode">
      Browse
    </ion-title>
    <ion-buttons *ngIf="!searchMode" slot="end">
      <ion-menu-button menu="menu-content" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-panel" *ngIf="searchMode">
    <span>Explore categories</span>
    <div class="content-queue-wrap" *ngIf="onQueueCategories">
      <ion-spinner></ion-spinner>
    </div>
    <div class="category-list-wrap" *ngIf="!onQueueCategories">
      <ion-button class="category-button" (click)="onCategorySelect(cat)" shape="round" color="light" *ngFor="let cat of categories">
        <span [innerHtml]="cat.name"></span>
      </ion-button>
    </div>
  </div>

  <div class="page-info-wrap">
    <h1 class="ff-m">Saved Articles</h1>
    <span>Saved Reading Lists</span>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)" [disabled]="onQueue || onQueueFromLoad || onNoConnection">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="content-queue-wrap" *ngIf="onQueue">
    <ion-spinner></ion-spinner>
  </div>

  <div class="no-articles-wrap" *ngIf="isEmpty">
    <div>
      <img src="../assets/no-articles-saved.png" alt="" width="200" height="auto">
    </div>
    <div>
      <span>
        You don't have any articles yet
      </span>
    </div>
  </div>

  <div class="no-connection-wrap" *ngIf="onNoConnection">
    <div class="no-connection-text">
      <div>
        <img src="../assets/no-connection.png" alt="" width="200" height="auto">
      </div>
      <span>You are not connected to the internet. Make sure your Wifi or Mobile Data is on and try again</span>
      <ion-button (click)="onReconnect($event)" shape="round">
        Reconnect
      </ion-button>
    </div>
  </div>

  <div class="content-wrap" *ngIf="!onQueue">
    <div class="article-wrap" *ngFor="let article of articles">
      <h2 class="ff-m" [innerHtml]="article.title" (click)="onArticleClick(article)"></h2>
      <div class="article-meta">
        <img src="{{article.authorAvatarUrl}}" alt="">
        <div>
          <span [innerHtml]="article.authorName"></span>
          <span>&bull;</span>
          <span [innerHtml]="article.date"></span>
          <span>&bull;</span>
          <span [innerHtml]="article.categoryNames"></span>
        </div>
      </div>
      <div class="article-media" (click)="onArticleClick(article)" [ngStyle]="{'background-image' : 'url(' + article.imageUrl}"></div>
      <ion-button class="bookmark-button" fill="clear" shape="round" (click)="onBookmark(article)">
        <ion-icon name="{{article.bookmarked ? 'bookmark-filled' : 'saved-articles-icon'}}" color="{{article.bookmarked?'primary':'dark'}}"></ion-icon>
      </ion-button>
    </div>
  </div>

  <ion-infinite-scroll position="bottom" (ionInfinite)="onLoadMore($event)" [disabled]="page > maxPages || onQueue || onQueueFromRefresh || onNoConnection">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <div class="content-end-spacing"></div>
  
  <div class="footer-wrap" slot="fixed" *ngIf="!searchMode">
    <div class="footer-background-wrap">
      <img class="footer-bg-side side-left" src="../assets/footer/side.png" alt="">
      <img class="footer-bg-filler side-left" src="../assets/footer/filler.png" alt="">
      <img class="footer-bg-center" src="../assets/footer/center.png" alt="">
      <img class="footer-bg-filler side-right" src="../assets/footer/filler.png" alt="">
      <img class="footer-bg-side side-right" src="../assets/footer/side.png" alt="">
      <ion-button shape="round" color="primary" (click)="onCall()">
        <ion-icon name="phone"></ion-icon>
      </ion-button>
    </div>
    <div class="footer-tabs-wrap">
      <ion-button fill="clear" shape="round" [routerLink]="[ '/articles' ]" routerDirection="forward">
        <ion-icon name="home" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round">
        <ion-icon name="saved-articles-icon" color="primary"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" href="{{external_link}}">
        <ion-icon name="external" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/events' ]" routerDirection="forward">
        <ion-icon name="events-icon" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/resource-categories' ]" routerDirection="forward">
        <ion-icon name="resources-icon" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/media' ]"  routerDirection="forward">
        <ion-icon name="media-icon" color="medium"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
