<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="articles" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Privacy Notice
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="menu-content" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="content-queue-wrap" *ngIf="onQueue">
    <ion-spinner></ion-spinner>
  </div>

  <div class="content-wrap" *ngIf="!onQueue" [innerHtml]="content">
  </div>

  <div class="content-end-spacing"></div>
  
  <div class="footer-wrap" slot="fixed">
    <div class="footer-background-wrap">
      <img class="footer-bg-side side-left" src="../assets/footer/side.png" alt="">
      <img class="footer-bg-filler side-left" src="../assets/footer/filler.png" alt="">
      <img class="footer-bg-center" src="../assets/footer/center.png" alt="">
      <img class="footer-bg-filler side-right" src="../assets/footer/filler.png" alt="">
      <img class="footer-bg-side side-right" src="../assets/footer/side.png" alt="">
      <ion-button shape="round" color="primary" (click)="onCall()">
        <ion-icon name="phone"></ion-icon>
      </ion-button>
    </div>
    <div class="footer-tabs-wrap">
      <ion-button fill="clear" shape="round" [routerLink]="[ '/articles' ]">
        <ion-icon name="home" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/saved-articles' ]">
        <ion-icon name="saved-articles-icon" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" href="{{external_link}}">
        <ion-icon name="external" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/events' ]">
        <ion-icon name="events-icon" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/resource-categories' ]">
        <ion-icon name="resources-icon" color="medium"></ion-icon>
      </ion-button>
      <ion-button fill="clear" shape="round" [routerLink]="[ '/media' ]"  routerDirection="back">
        <ion-icon name="media-icon" color="medium"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
